@charset "UTF-8";
/*Переменные*/
/*--------------------*/
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Оболочка*/
.wrapper {
  overflow: hidden;
}

/*-----Оболочка------*/
/*Основная сетка*/
.container {
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 769px) {
  .container {
    padding: 0 15px;
  }
}

/*---Основная сетка---*/
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("fonts/ProximaNova-Regular.eot");
  src: local("☺"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("fonts/ProximaNova-Semibold.eot");
  src: local("☺"), url("fonts/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNova-Semibold.ttf") format("truetype"), url("fonts/ProximaNova-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: #fafafa;
  min-width: 1100px;
}

/*header*/
header {
  height: 100px;
  background: #fafafa;
  border-bottom: 2px solid #e5e5e5;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100px;
}

.header__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.4%;
          flex: 0 0 16.4%;
  background: #303030;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 69.5%;
      flex-basis: 69.5%;
  padding: 0 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__column:nth-child(2) .container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1304px;
          flex: 0 0 1304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header__column:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.1%;
          flex: 0 0 14.1%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__column-logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-menu__icon {
  display: none;
}

.btn a {
  padding: 12px 24px;
  border-radius: 4px;
}

.header__column-btn {
  margin-right: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__column-btn a {
  background: #5898ff;
  color: #fff;
}

.header__column-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-bottom-menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 25px;
  cursor: pointer;
}

.header-bottom-menu__list li .active {
  border-bottom: 2px solid #5898ff;
}

.header-bottom-menu__list a {
  font-weight: 600;
  line-height: 25px;
  color: #000000;
  padding: 0px 0px 8px 0px;
  margin: 0px 0px -8px 0px;
}

.header-bottom-menu__list-icon {
  padding: 0px 4px 0px 0px;
}

.header__column-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column-login-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 780px) {
  .header__column-login-column {
    display: none;
  }
}

.header__column-login-column-icon {
  padding: 0px 12px 0px 0px;
}

@media (max-width: 375px) {
  .header__column-login-column-icon {
    display: none;
  }
}

.header__column-login-column-info-name {
  color: #000000;
  line-height: 25px;
}

.header__column-login-column-info-number {
  color: #a2a2a2;
  line-height: 25px;
}

.header__column-login-column-arrow {
  position: absolute;
  left: 220px;
  width: 18px;
  height: 18px;
  top: 4px;
  cursor: pointer;
}

.more {
  display: none;
  position: absolute;
  top: 34px;
  width: 300px;
  height: 201px;
  background: #ffffff;
  border: 1px solid #e5e5e5 !important;
  border-radius: 4px;
  z-index: 1;
}

@media (max-width: 1100px) {
  .more {
    width: 165px;
    height: 158px;
    right: 76px;
  }
}

@media (max-width: 1035px) {
  .more {
    height: 204px;
    right: 0;
  }
}

.more-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .more-body {
    padding: 20px 15px;
  }
}

li.more__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

li.more__list-item:nth-child(6) {
  display: none;
}

li.more__list-item:nth-child(7) {
  display: none;
}

li.more__list-item img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
}

li.more__list-item a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

@media (max-width: 1100px) {
  li.more__list-item a {
    font-size: 14px;
    line-height: 23px;
  }
}

@media (max-width: 1035px) {
  .more.active li.more__list-item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .more.active li.more__list-item:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .more.active li.more__list-item:nth-child(6) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .more.active li.more__list-item:nth-child(7) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 271px;
          flex: 0 0 271px;
  background: #fafafa;
}

@media (max-width: 1100px) {
  .main__column:last-child {
    display: none;
  }
}

.main__column:nth-child(2) {
  background-color: #fff;
  max-width: 1304px;
  border-right: 2px solid #e5e5e5;
}

.sidebar-filters {
  min-height: 100vh;
  background: #303030;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.4%;
          flex: 0 0 16.4%;
  position: relative;
  left: 0;
}

@media (max-width: 1100px) {
  .sidebar-filters {
    display: none;
    position: absolute;
    z-index: 1;
    max-width: 320px;
    height: auto;
  }
}

.sidebar-filters.active {
  display: block;
}

.sidebar-filters-body {
  margin: 0px 45px 0px 30px;
  padding: 34px 0px 0px 0p;
}

.sidebar-filters__item {
  border-bottom: 2px solid #4f4f4f;
  padding: 30px 0px 0px 0px;
}

@media (max-width: 1100px) {
  .sidebar-filters__item {
    padding: 20px 0px 0px 0px;
  }
}

.sidebar-filters__item:first-child {
  padding: 34px 0px 0px 0px;
}

@media (max-width: 1100px) {
  .sidebar-filters__item:first-child {
    padding: 18px 0px 0px 0px;
  }
}

.sidebar-filters__item-title {
  font-size: 24px;
  line-height: 30px;
  color: #5898ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .sidebar-filters__item-title {
    font-size: 18px;
  }
}

.sidebar-filters__item-title img {
  padding: 0px 8px 0px 0px;
}

.sidebar-filters__list {
  padding: 24px 0px 30px 0px;
}

@media (max-width: 1100px) {
  .sidebar-filters__list {
    padding: 20px 0px;
  }
}

.sidebar-filters__list-items {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-filters__list-items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 25px;
  color: #b2b2b2;
  padding: 0px 4px 0px 0px;
}

@media (max-width: 1100px) {
  .sidebar-filters__list-items span {
    font-size: 14px;
  }
}

.sidebar-filters__list-items .active {
  font-weight: 600;
  color: #ffffff;
}

.sidebar-filters_btn {
  padding: 42px 0px 0px 0px;
}

@media (max-width: 769px) {
  .sidebar-filters_btn {
    padding: 42px 0px 52px 0px;
  }
}

.sidebar-filters_btn a {
  background: #434343;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .sidebar-filters_btn a {
    font-size: 14px;
  }
}

.top-filters-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 10px 0px;
}

@media (max-width: 1100px) {
  .top-filters-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 630px) {
  .top-filters-body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.top-filters__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .top-filters__row:first-child {
    margin-bottom: 12px;
  }
}

@media (max-width: 630px) {
  .top-filters__row:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 630px) {
  .top-filters__row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.top-filters__row-action-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-filters__row-action-list li {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: 0px 10px;
  cursor: pointer;
}

.top-filters__row-action-list li img {
  margin-right: 6px;
}

@media (max-width: 769px) {
  .top-filters__row-action-list li {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .top-filters__row-action-list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .top-filters__row-action-list li {
    font-size: 12px;
  }
  .top-filters__row-action-list img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 425px) {
  .top-filters__row-action-list li {
    margin: 0px;
  }
}

.top-filters__row-action-list--left,
.top-filters__row-action-list--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  .top-filters__row-action-list--left,
  .top-filters__row-action-list--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 540px) {
  .top-filters__row-action-list--right li:first-child {
    margin-bottom: 4px;
  }
}

.top-filters__row-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 0px;
}

@media (max-width: 425px) {
  .top-filters__row-sort img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.top-filters__row-sort img {
  margin-right: 6px;
}

.top-filters__row-sort-date {
  padding: 6px 32px 7px 12px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.top-filters__row-sort-date::before {
  content: " ";
  position: absolute;
  right: 10px;
  background: url("/img/main/top-filters/arrow_down.svg") center center;
  background-size: 18px;
  width: 18px;
  height: 18px;
}

@media (max-width: 769px) {
  .top-filters__row-sort-date {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .top-filters__row-sort-date {
    font-size: 12px;
    line-height: 16px;
    padding: 3px 32px 3px 12px;
  }
  .top-filters__row-sort-date::before {
    background-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
}

.top-filters__row-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.top-filters__row-search input {
  padding: 3px 12px 4px 12px;
  font-size: 18px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 4px 0px 0px 4px;
  border-right: 0px;
}

@media (max-width: 630px) {
  .top-filters__row-search input {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .top-filters__row-search input {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .top-filters__row-search input {
    font-size: 12px;
    line-height: 16px;
    padding: 3px 12px;
  }
}

@media (max-width: 630px) {
  .top-filters__row-search {
    margin-bottom: 12px;
  }
}

.top-filters__row-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  background: #5898ff;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  width: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}

@media (max-width: 425px) {
  .top-filters__row-search-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

.top-filters__row-search-btn img {
  width: 18px;
  height: 18px;
}

@media (max-width: 425px) {
  .top-filters__row-search-btn img {
    width: 12px;
    height: 12px;
  }
}

.vacancy {
  padding: 10px 0px;
}

.vacancy-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
}

@media (max-width: 1100px) {
  .vacancy-body {
    font-size: 14px;
  }
}

@media (max-width: 1070px) {
  .vacancy-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .vacancy-body {
    font-size: 12px;
  }
}

.vacancy-body:hover .vacancy-info__title {
  color: #5898ff;
}

.vacancy__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
  padding: 30px 40px 40px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .vacancy__column {
    padding: 20px 30px 30px 20px;
  }
}

@media (max-width: 425px) {
  .vacancy__column {
    padding: 10px 12px 18px 12px;
  }
}

.vacancy__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  border-left: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fafafa;
}

@media (max-width: 1070px) {
  .vacancy__column:last-child {
    display: none;
    border-top: 2px solid #e5e5e5;
    border-left: none;
  }
}

.vacancy__column:last-child .vacancy__options::before {
  content: " ";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 4px;
}

@media (max-width: 425px) {
  .vacancy__column:last-child .vacancy__options::before {
    width: 12px;
    height: 12px;
    background-size: 12px !important;
    top: 2px;
    left: 4px;
  }
}

.vacancy__column:last-child .vacancy__options:first-child::before {
  background: url("/img/main/vacancy/calculator.svg");
}

.vacancy__column:last-child .vacancy__options:nth-child(2)::before {
  background: url("/img/main/vacancy/options.svg");
}

.vacancy__column:last-child .vacancy__options:nth-child(3)::before {
  background: url("/img/main/vacancy/date.svg");
}

.vacancy-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 12px 0px;
}

@media (max-width: 425px) {
  .vacancy-header {
    padding: 0px 0px 14px 0px;
  }
}

.vacancy-header__id {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .vacancy-header__id {
    padding-left: 16px;
  }
}

.vacancy-header__id::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/checksquare.svg");
  width: 18px;
  height: 18px;
  left: 0;
  top: -1px;
}

@media (max-width: 425px) {
  .vacancy-header__id::before {
    top: 0px;
    width: 12px;
    height: 12px;
    background-size: 12px;
  }
}

.vacancy-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vacancy-header__edit {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .vacancy-header__edit {
    padding-left: 16px;
  }
}

.vacancy-header__edit::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/edit.svg");
  width: 20px;
  height: 20px;
  left: 0;
  top: -3px;
}

@media (max-width: 1100px) {
  .vacancy-header__edit::before {
    top: -4px;
  }
}

@media (max-width: 425px) {
  .vacancy-header__edit::before {
    top: 0px;
    width: 12px;
    height: 12px;
    background-size: 12px;
  }
}

.vacancy-header__more {
  position: relative;
  padding-left: 28px;
  margin: 0px 0px 0px 30px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .vacancy-header__more {
    padding-left: 20px;
  }
}

.vacancy-header__more::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/more.svg");
  width: 24px;
  height: 24px;
  left: 0;
  top: -4px;
}

@media (max-width: 1100px) {
  .vacancy-header__more::before {
    top: -5px;
  }
}

@media (max-width: 425px) {
  .vacancy-header__more::before {
    top: -2px;
    width: 16px;
    height: 16px;
    background-size: 16px;
  }
}

.vacancy-info__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  padding-bottom: 12px;
}

@media (max-width: 1704px) {
  .vacancy-info__title {
    font-size: 26px;
  }
}

@media (max-width: 1100px) {
  .vacancy-info__title {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .vacancy-info__title {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 14px;
  }
}

.vacancy-info__offer {
  line-height: 25px;
  position: relative;
  padding-left: 28px;
  padding-bottom: 8px;
}

@media (max-width: 425px) {
  .vacancy-info__offer {
    line-height: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
  }
}

.vacancy-info__offer::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/rub.svg");
  width: 24px;
  height: 24px;
  left: 0;
}

@media (max-width: 425px) {
  .vacancy-info__offer::before {
    width: 12px;
    height: 12px;
    background-size: 12px;
    top: 2px;
  }
}

.vacancy-info__phone {
  line-height: 25px;
  position: relative;
  padding-left: 28px;
  padding-bottom: 8px;
}

@media (max-width: 425px) {
  .vacancy-info__phone {
    line-height: 16px;
    padding-left: 16px;
    padding-bottom: 4px;
  }
}

.vacancy-info__phone::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/phone.svg");
  width: 24px;
  height: 24px;
  left: 0;
}

@media (max-width: 425px) {
  .vacancy-info__phone::before {
    width: 12px;
    height: 12px;
    background-size: 12px;
    top: 2px;
  }
}

.vacancy-info__location {
  line-height: 25px;
  position: relative;
  padding-left: 28px;
}

@media (max-width: 425px) {
  .vacancy-info__location {
    line-height: 16px;
    padding-left: 16px;
  }
}

.vacancy-info__location::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/map.svg");
  width: 24px;
  height: 24px;
  left: 0;
}

@media (max-width: 425px) {
  .vacancy-info__location::before {
    width: 12px;
    height: 12px;
    background-size: 12px;
    top: 2px;
  }
}

@media (max-width: 1070px) {
  .vacancy-btn {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.vacancy-btn__response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vacancy-btn__response a {
  background: #5898ff;
  border-radius: 4px;
  padding: 12px 24px;
  line-height: 25px;
  color: #ffffff;
}

@media (max-width: 425px) {
  .vacancy-btn__response a {
    line-height: 16px;
    padding: 6px;
  }
}

.vacancy-btn__more {
  display: none;
}

@media (max-width: 1070px) {
  .vacancy-btn__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.vacancy-btn__more.active a::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.vacancy-btn__more a {
  border-radius: 4px;
  padding: 12px 24px;
  line-height: 25px;
  color: #000;
  position: relative;
}

@media (max-width: 425px) {
  .vacancy-btn__more a {
    line-height: 16px;
    padding: 6px 20px 6px 6px;
  }
}

.vacancy-btn__more a::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/arrow_down.svg") center center no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  right: 0;
  top: 16px;
}

@media (max-width: 425px) {
  .vacancy-btn__more a::before {
    background-size: 16px;
    height: 16px;
    width: 16px;
    top: 7px;
  }
}

.vacancy__options {
  line-height: 25px;
  position: relative;
  padding-left: 22px;
  padding-bottom: 15px;
}

@media (max-width: 1070px) {
  .vacancy__options {
    padding-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .vacancy__options {
    padding-left: 18px;
  }
}

.options__name {
  font-weight: 600;
}

@media (max-width: 425px) {
  .options__name {
    line-height: 16px;
  }
}

.options__title {
  font-weight: normal;
  line-height: 25px;
}

@media (max-width: 425px) {
  .options__title {
    line-height: 16px;
  }
}

.links__item {
  line-height: 22px;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .links__item {
    line-height: 15px;
    padding-left: 14px;
  }
}

.links__item a {
  font-family: "Proxima-Regular", sans-serif;
  color: #5898ff;
}

.links__item::before {
  content: " ";
  position: absolute;
  background: url("/img/main/vacancy/link.svg");
  width: 20px;
  height: 20px;
  left: 0;
  top: 1px;
}

@media (max-width: 425px) {
  .links__item::before {
    width: 12px;
    height: 12px;
    background-size: 12px;
    top: 2px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

@media (max-width: 425px) {
  .pagination {
    padding: 13px 0px;
  }
}

.pagination__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__row:first-child {
  padding: 0px 0px 15px 0px;
}

@media (max-width: 425px) {
  .pagination__row:first-child {
    padding: 0px 0px 6px 0px;
  }
}

.pagination__prev {
  padding: 0px 6.5px 0px 0px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .pagination__prev {
    padding: 0px;
  }
}

.pagination__prev img {
  margin: 3px 0px 0px 0px;
}

@media (max-width: 425px) {
  .pagination__prev img {
    width: 16px;
    height: 16px;
    margin: 5px 0px 0px 0px;
  }
}

.pagination__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pagination__list li {
  padding: 0px 6.5px;
}

.pagination__list li a {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

@media (max-width: 425px) {
  .pagination__list li a {
    font-size: 12px;
    line-height: 16px;
  }
}

.pagination__list .active {
  padding: 6px 8px;
  background: #fafafa;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 1px 6px;
}

@media (max-width: 425px) {
  .pagination__list .active {
    padding: 0px 6px 5px 6px;
  }
}

.pagination__next {
  cursor: pointer;
  padding: 0px 0px 0px 6.5px;
}

@media (max-width: 425px) {
  .pagination__next {
    padding: 0px;
  }
}

.pagination__next img {
  margin: 3px 0px 0px 0px;
}

@media (max-width: 425px) {
  .pagination__next img {
    width: 16px;
    height: 16px;
    margin: 5px 0px 0px 0px;
  }
}

.pagination__page {
  line-height: 25px;
  color: #000000;
}

@media (max-width: 425px) {
  .pagination__page {
    font-size: 12px;
    line-height: 16px;
  }
}

.pagination__veiw {
  line-height: 25px;
  color: #000000;
  position: relative;
  padding-left: 10px;
}

.pagination__veiw::before {
  content: "|";
  position: absolute;
  left: 0px;
  width: 10px;
}

@media (max-width: 425px) {
  .pagination__veiw {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 1100px) {
  footer {
    display: none;
  }
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "ProximaNova-Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #1f2127;
  padding-bottom: 33px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer__column-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__description {
  padding-top: 20px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
}

.company__copywrite {
  padding-top: 20px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  opacity: 0.7;
}

.footer__subtitle {
  padding-bottom: 5px;
  /* identical to box height, or 109% */
  letter-spacing: 0.01em;
  /* Основной текст */
  color: #1f2127;
  opacity: 0.7;
}

.footer__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 109% */
  letter-spacing: 0.01em;
  /* Основной текст */
  color: #1f2127;
}

.sales__phone a {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  letter-spacing: 0.01em;
  /* Основной текст */
  color: #1f2127;
}

.sales__email a {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  letter-spacing: 0.01em;
  /* Основной текст */
  color: #1f2127;
}

.footer__list {
  padding-top: 18px;
}

.footer__list .active a {
  color: #0e65f3;
}

.footer__list li {
  padding: 8px 0px;
}

.footer__list li:first-child {
  padding: 0px 0px 8px 0px;
}

.footer__list a {
  color: #1f2127;
  opacity: 0.7;
  line-height: 24px;
}

.footer__documents-close a {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #1f2127;
}
